<header>
  <%= link_to '', :root, :id => 'banner' %>
  <nav>
    <ul>
      <li><%= link_to 'ABOUT US', :root %></li>
      <li><%= link_to 'LOCATION & HOURS', '/location_and_hours' %></li>
      <li><%= link_to 'SPECIALS', '/specials' %></li>
      <li><%= link_to 'EMAIL/ SIGN UP', '/email_sign_up' %></li>
      <li><%= link_to 'CALENDAR', '/calendar' %></li>
      <li><%= link_to 'CONTACT US', '/contact_us' %></li>
    </ul>
  </nav>
</header>
